
*, *::after,*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}


blockquote {
  position: relative;
  padding-left: 1.5rem;
font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #A9DFBF;
  border-radius: 60px;
}

figure {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero:nth-child(1) figure {
  background-image: url("./img/chuc-mung-nam-moi.jpg");
}
.hero:nth-child(2) figure {
  background-image: url("./img/anh-1.jpg");
}
.hero:nth-child(3) figure {
  background-image: url("./img/hoi-an.jpg");
}
.hero:nth-child(4) figure {
  background-image: url("./img/hoa-dao.jpg");
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
@supports (-webkit-overflow-scrolling: touch) {
  .hero-inner {
    clip: unset;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.hero__title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
font-family: 'Dancing Script', cursive;
  font-size: 8vw;
  text-shadow: #474747 3px 5px 2px;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 6rem;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 3em;
  }
}

.content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}
.content:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  line-height: 1.25;
  text-align: center;
}
@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;

  text-align: center;
}
.content__author:before, .content__author:after {
  content: '';
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #8a2124;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
}
.right {
  text-align: right;
}
.au {
  position: fixed;
  opacity: .7;
  bottom: 0;
  z-index: 999;
  left: 0;
}
.con-dau img{
  position: absolute;
  bottom: 70px;
  right: 50px;
  width: 200px;
  z-index: 999999;
}
.author {
position: relative;
}
.author p {
  line-height: 1.7;
}
.color-red {
  color:#ff4a4a;
}