<!DOCTYPE html>
<html lang="vi">
<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap" rel="stylesheet"> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gửi {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Gửi {{ page.title }}" />
<meta property="og:description"        content="{{ site.description }}" />
<meta property="og:image"              content="./img/cover.jpg" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Gửi {{ page.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:site" content="@lonely_baby99" />
<meta name="twitter:creator" content="@lonely_baby99">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  
<section class="hero">
  <div class="hero-inner" id="section-0">
    <figure></figure>
    <h2 class="hero__title">Chúc Mừng Năm Mới !</h2>
  </div>
</section>
<section class="hero">
  <div class="hero-inner" id="section-1">
    <figure></figure>
    <h2 class="hero__title">Đời Vui</h2>
  </div>
</section>
<section class="hero">
  <div class="hero-inner" id="section-2">
    <figure></figure>
    <h2 class="hero__title">Sức Khỏe</h2>
  </div>
</section>
<section class="hero">
  <div class="hero-inner" id="section-3">
    <figure></figure>
    <h2 class="hero__title">Tết An Khang</h2>
  </div>
</section>
<section class="content">
  <article class="content__inner">
    {{ content }}

    <br><br>
<p class="right">Hải Dương, ngày 21 tháng 01 năm 2020</p>
<p class="right"><strong>{{ page.relationship }}</strong></p>
<p class="right"><i>Đã ký</i></p>
<p class="right"><strong>Dương Nam Trường</strong></p>
  </article>
</section>
<audio src="./chuc-tet.mp3" autoplay preload="auto"></audio>
</body>
</html>